.contact-page {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

/* BACKGROUND MULTI-COUCHES */
.contact-bg {
  position: absolute;
  inset: 0;

  background:
    /* couche floutée (remplit les côtés) */
    url("/contact-back.png") center top / cover no-repeat,

    /* couche principale */
    url("/contact-back.png") center / contain no-repeat;

  filter: saturate(0.9) contrast(1.05);
  z-index: 0;
}



/* CONTENU AU-DESSUS */
.contact-content {
  position: relative;
  z-index: 1;

  min-height: 100vh;
  display: grid;
  place-items: center;
  left: -200px;
}
