.contact-page {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

/* BACKGROUND MULTI-COUCHES */
.contact-bg {
  position: absolute;
  inset: 0;

  background:
    /* couche floutée (remplit les côtés) */
    url("/contact-back.png") center top / cover no-repeat,

    /* couche principale */
    url("/contact-back.png") center / contain no-repeat;

  filter: saturate(0.9) contrast(1.05);
  z-index: 0;
}



/* CONTENU AU-DESSUS */
.contact-content {
  position: relative;
  z-index: 1;

  min-height: 100vh;
  display: grid;
  place-items: center;
  left: -200px;
}

/* GLASS-CARD */
.glass-card {
  width: min(520px, 92vw);
  height: 100%;
  padding: 26px 28px;
  border-radius: 22px;

  display: flex;
  flex-direction: column;
  gap: 14px;

  background: rgba(255, 255, 255, 0.045);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(16px);

  border: 1px solid rgba(255, 255, 255, 0.16);
  box-shadow:
    0 24px 60px rgba(0, 0, 0, 0.45),
    0 0 40px rgba(110, 203, 255, 0.16);
}


/***** CAROUSSEL ******/

.carousel-3d {
  position: relative;
  width: 700px;
  perspective: 1000px;
  transition: height 0.4s ease;
}

.carousel-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transition:
    transform 0.6s ease,
    opacity 0.4s ease;

  display: grid;
  place-items: center;
}

/* FLÈCHES */
.carousel-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 40px;
}

/* Flèches */
.carousel-arrow {
  position: relative;
  z-index: 10;

  width: 64px;
  height: 64px;

  display: grid;
  place-items: center;

  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 50%;

  color: #bfe9ff;
  font-size: 42px;

  cursor: pointer;
  backdrop-filter: blur(10px);
}

.carousel-arrow:hover {
  background: rgba(110, 203, 255, 0.18);
  box-shadow: 0 0 24px rgba(110, 203, 255, 0.45);
}
.carousel-arrow.left {
  left: -75px;   /* ⬅️ décale vers la gauche */
}

.carousel-arrow.right {
  right: -75px;  /* ➡️ décale vers la droite */
}

/*** bouton du retour ****/
