.formulaire {
	display: flex;
	flex-direction: column;
}

.formulaire input,
.formulaire textarea {
	background: transparent;
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.8);
	padding: 4px 4px;
	color: white;
	font-size: 1rem;
	margin-bottom: 0.6rem;
	outline: none; /* supprime le contour bleu */
	
}

.formulaire input::placeholder,
.formulaire textarea::placeholder {
	color: rgba(255, 255, 255, 0.75);
}


.formulaire button {
	margin-top: 0.3rem;
	align-self: center;
	background: white;
	color: black;
	font-weight: 600;
	width: 6rem;
}



.formulaire button:hover {
	background: rgba(255, 255, 255, 0.25);
	color: white;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

.formulaire textarea {
	padding-top: 9px;
	min-height: 150px;
}

.formulaire input {
	padding-top: 7px;
	margin-bottom: 15px;
}

.formulaire input:focus,
.formulaire textarea:focus {
	border-bottom: 2px solid #fff;
}

.form-success {
	margin-top: 4rem;
	padding: 1rem;

	text-align: center;
	font-size: 0.9rem;
	font-weight: 500;

	color: white;
	background: rgba(255, 255, 255, 0.15);
	border-radius: 12px;

	backdrop-filter: blur(6px);
}

select {
	border-radius: 10px;
	padding: 2px;
	height: 40px;
	margin-bottom: 20px;
}